#heading{
    font-size: 23px;
    width: 100%;
    margin: 0px;
}
#note{
    color: black;
    font-size: 15px;
}
body{
    text-align: center;
    background-image: url("background.jpg");
    background-size: cover;
}
canvas{
    border: 5px ridge white;
    border-radius: 20px;
}
.play_button{
    width:130px;
    font-size: 25px;
}
.div_speed{
    float:left;
}
.div_volume{
    float:right;
}
.div_speed_img{
    width:200px;
    border-radius: 100px;
}
#speed{
    font-size: 23px;
    margin: 15px;
}
.div_volume_img{
    width:200px;
    border-radius: 100px;
}
#volume{
    font-size: 23px;
    margin: 15px;
}
.span{
    font-size:50px;
}